<hr>
<div class="video-responsive">
      <iframe class="latestVideoEmbed" vnum='0' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="500" height="300" frameborder="0" autoplay=0 allowfullscreen></iframe>
      </div>
      <hr>
<div class="video-responsive">
      <iframe class="latestVideoEmbed" vnum='1' cid="UC0kUKcP_9v4_WfhyDAN5DOg" width="500" height="300" frameborder="0" autoplay=0 allowfullscreen></iframe>
        </div>
        
        <hr>
<center><a href="http://youtube.com/channel/UC0kUKcP_9v4_WfhyDAN5DOg">Visit our YouTube page for more.</a></center>

PLgqm3d_wB-8qMoDhwYdePNDYODVW889GD